@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --mainColor: #C91842;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    border-bottom: 0.15rem solid var(--mainColor);
}

.logo {
    font-family: 'Satisfy';
}