@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.logo {
    font-family: 'Satisfy';
}

.table-container {
    display: block;
    max-height: 500px;
    overflow: auto;
    width: 100%;
}

.form-bg {
    background-color: rgba(0, 0, 0, 0.2);
}

form {
    width: 350px;
}

.button {
    cursor: pointer;
}