:root {
    --custom-background: #25232D;
    --custom-color: #FBFEE5;
    --custom-border: #98173D;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    background-color: var(--custom-background);
    color: var(--custom-color);
    border-bottom: 5px solid var(--custom-border);
}

.add-btn {
    background-color: var(--custom-background);
    color: var(--custom-color);
}

.add-btn:hover {
    background-color: var(--custom-background);
    color: var(--custom-color);
    border: 1px solid var(--custom-border);
}